<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">
	
    <!-- Module Properties -->
	<id>${artifactId}</id>
	<name>${module-name}</name>
	<version>${version}</version>
	<package>${package}</package>
	<author>${module-author}</author>
	<description>
			${module-description}
	</description>
	
	<!-- / Module Properties -->
	
	<require_version>1.2.0.3400</require_version>


    <!-- Module Activator -->
	<activator>${package}.${module-name-no-spaces}Activator</activator>


	#* If the value of wizard question: " Do you want admin page link " 
	is 'y' then below lines will get added to config file
	*#
	#if( $adminLinkReply == 'y' || $adminLinkReply== 'Y' || $springMvcReply == 'y' || $springMvcReply== 'Y' )
	<!-- Add's link to admin page --> 
	 <extension>
	  <point>org.openmrs.admin.list</point>
	  <class>${package}.extension.html.AdminList</class>
	 </extension>    
  	#end
  	
  	
  	#if($serviceReply == 'y' || $serviceReply== 'Y')
  	<!-- hibernate mapping -->
	<mapping resource="${package}/db/hibernate/${entity-name-no-spaces}.hbm.xml" />	
   	#end

	
	<!-- Internationalization -->
	<!-- All message codes should start with @MODULE_ID@.* -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>
	<messages>
		<lang>es</lang>
		<file>messages_es.properties</file>
	</messages>
	<!-- /Internationalization -->
	
</module>

