<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">

	<!-- Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>${project.parent.groupId}.${project.parent.artifactId}</package>
	<author>${module-author}</author>
	<description>
		${project.parent.description}
	</description>
	<updateURL>https://dev.openmrs.org/modules/download/${project.parent.artifactId}/update.rdf</updateURL>
	<require_version>${openMRSVersion}</require_version>
	<!-- / Module Properties -->

	#if ($dependentModules != "[none]")

	<!-- Required Modules -->
	<require_modules>
	#foreach($dependentModule in $dependentModules.split(","))
		#set($dependentModule-name = "")
		#set($dependentModule-version = "")
	
		#foreach($splittedModule in $dependentModule.split(":"))
			#if($velocityCount == 1)
				#set($dependentModule-name = $splittedModule)
			#end
			
			#if($velocityCount == 2)
				#set($dependentModule-version = $splittedModule)
			#end
		#end
			
		<require_module version="${dependentModule-version}">
			org.openmrs.module.${dependentModule-name}
		</require_module>
	#end
		
	</require_modules>
	<!-- / Required Modules -->
	#end

	<!-- Module Activator -->
	<activator>${project.parent.groupId}.${project.parent.artifactId}.${module-name-no-spaces}Activator</activator>
	
	#if($adminLinkReply == 'y' || $adminLinkReply== 'Y' )

	<!-- Adds link to admin page -->
	<extension>
		<point>org.openmrs.admin.list</point>
		<class>${project.parent.groupId}.${project.parent.artifactId}.extension.html.AdminList</class>
	</extension>
	#end

	<!-- Maps hibernate file's, if present -->
	<mappingFiles>
		#if($serviceReply == 'y' || $serviceReply == 'Y')
		${object-name-no-spaces}.hbm.xml
		#end
		
	</mappingFiles>

	<!-- Internationalization -->
	<!-- All message codes should start with ${project.parent.artifactId}. -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>
	<messages>
		<lang>es</lang>
		<file>messages_es.properties</file>
	</messages>
	<!-- /Internationalization -->

</module>

